<section class="newsletter-area py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="newsletter-details">
                    <h3>Join Our Newsletter Now </h3>
                    <h6>Get E-mail updates about our latest shop and special offers.</h6>
                </div>
            </div>
            <div class="col-md-7">
                <div class="subscription-form form-inline">
                    <input type="text" class="form-control" placeholder="Enter you email address here...">
                    <button class="theme-btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>
