<!-- Home Blog Section -->
<section class="home-blog section-padding space-db--30">
    <div class="container">
        <div class="section-title section-title-sep-2 text-black">
            <h2>From Our Blog</h2>
            <p>Update the latest article, to help customers capture the most authentic of the operation of the store.</p>
        </div>
        <!-- Blog Slider -->
        <div class="mini-blog-slider mini-items-slider">

            <div class="single-blog">
                <!-- Single Blog Item -->
                <div class="belly-mini-blog blog-style-2">
                    <a href="blog-details-light.html" class="blog-image">
                        <img src="./assets/image/mini-item-images/mini-blog-2.png" alt="">
                        <div class="blog-badge">
                            <span>14</span>
                           feb
                        </div>
                    </a>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="blog-details-light.html">hendrerit in vulputate </a></h4>
                        <span class="blog-subtitle">Belly</span>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="blog-btn">
                            <a href="blog-details-light.html" class="theme-btn-outlined--type-2">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Item /Ends -->
            </div>

            <div class="single-blog">
                <!-- Single Blog Item -->
                <div class="belly-mini-blog blog-style-2">
                    <a href="blog-details-light.html" class="blog-image">
                        <img src="./assets/image/mini-item-images/mini-blog-3.png" alt="">
                        <div class="blog-badge">
                            <span>14</span>
                           feb
                        </div>
                    </a>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="blog-details-light.html">autem vel eum</a></h4>
                        <span class="blog-subtitle">Belly</span>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="blog-btn">
                            <a href="blog-details-light.html" class="theme-btn-outlined--type-2">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Item /Ends-->
            </div>

            <div class="single-blog">
                <!-- Single Blog Item -->
                <div class="belly-mini-blog blog-style-2">
                    <a  href="blog-details-light.html" class="blog-image">
                        <img src="./assets/image/mini-item-images/mini-blog-4.png" alt="">
                        <div class="blog-badge">
                            <span>14</span>
                           feb
                        </div>
                    </a>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="blog-details-light.html">hendrerit in molestie conset</a></h4>
                        <span class="blog-subtitle">Belly</span>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="blog-btn">
                            <a href="blog-details-light.html" class="theme-btn-outlined theme-btn-outlined--type-2">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Item Ends-->
            </div>

            <div class="single-blog">
                <!-- Single Blog Item -->
                <div class="belly-mini-blog blog-style-2">
                    <a  href="blog-details-light.html" class="blog-image">
                        <img src="./assets/image/mini-item-images/mini-blog-1.png" alt="">
                        <div class="blog-badge">
                            <span>14</span>
                           feb
                        </div>
                    </a>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="blog-details-light.html">illum dolore eu fiat</a></h4>
                        <span class="blog-subtitle">Belly</span>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        <div class="blog-btn">
                            <a href="blog-details-light.html" class="theme-btn-outlined theme-btn-outlined--type-2">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Item / Ends-->
            </div>
        </div>
    </div>
</section>
